:root {
  --morning: #e8817f;
  --evening: #311f62;
}

html {
  background: pink;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-family: 'Open Sans', sans-serif;
  max-width: 375px;
  height: 812px;
  background: #fff;
  margin: auto;
}

#root {
  height: 100%;
}

.app {
  text-align: center;
  will-change: transform;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app__header {
  background-color: #222;
  padding: 10px;
  color: white;
  position: relative;
}

.app__title {
  font-size: 1.5em;
}

.date {
  font-size: 25px;
  line-height: 30px;
  padding: 20px 0;
}

.track-time {
  flex-grow: 1;
  position: relative;
}

.track-time--inner {
  /*position: absolute;
  left: 0;
  width: 100%;
  height: 100%;*/
}

.swiper-container {
  height: calc(100% - 70px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}


.swiper-pagination-bullet {
  border: 2px solid white;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background: #222;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 100px 0;
  height: auto;
}

.form-section--morning {
  background: var(--morning);
  color: #efefef;
}

.form-section--morning button[type="button"] {
  background: none;
  border: 2px solid #101010;
  margin-top: 15px;
  color: #101010;
}

.form-section--evening {
  background: var(--evening);
  color: #010101;
}

.form-section--evening button[type="button"] {
  background: none;
  border: 2px solid #efefef;
  margin-top: 15px;
  color: #efefef;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 20px 35px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

button[type="submit"] {
  background: rgba(114, 140, 20, .5);
  border: 2px solid #728C14;
  margin-top: 30px;
}

button[type="button"] {
  margin-top: 15px;
}

.logged {
  line-height: 60px;
}

/*navigation*/
ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  bottom: env(safe-area-inset-bottom);
  width: 100%;
}

ul.nav li {
  width: 33.33%;
  border-left: 1px solid #555;
}

ul.nav li:first-child {
  border-left: none;
}

ul.nav li a {
  background: #222;
  color: white;
  padding: 25px 0;
  display: block;
  text-decoration: none;
}

ul.nav li a.active {
  background: #333;
}

.monthlyReport {
  text-align: left;
  padding: 0 20px;
}

.monthlyReport__bar {
  padding: 10px 0;
  text-align: center;
}

.monthlyReport__bar--to {
  background: var(--morning);
}

.monthlyReport__bar--from {
  color: white;
  background: var(--evening);
}

/* log in/out page */


.signInUpForm form {
  background: var(--morning);
  padding: 40px 30px;
  text-align: left;
  align-items: normal;
}

.signInUpForm form button[type="submit"] {
  align-self: center;
  background: var(--evening);
  border: none;
  color: white;
}

.signInUpForm form label {
  margin-bottom: 5px;
  margin-top: 15px;
}

.signInUpForm form input {
  margin-bottom: 5px;
  padding: 10px 15px;
  font-size: 17px;
  border: none;
}

.signInUpForm .error {
  font-style: italic;
  margin-top: 5px;
  font-size: 14px;
}

.logoutForm {
  text-align: center;
  padding: 40px 30px;
}

.logoutForm button {
  margin: auto;
  margin-top: 20px;
}